* {
  box-sizing: border-box;
}

/* Use variables for colours. Original design uses light and dark sludges with some black text.
Body background #EEEEF7FF, dark banner & text #31343DFF, light banner #92CCCEFF, body text headings and rules #445877FF*/



body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
